body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: default;
    background-color: #f1efeb;

}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E1DC;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

section {
    scroll-margin-top: 100px;
}

.logo1 {
    width: 150px;
    height: auto;
}

main {
    padding: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: #A8AD00;
    text-decoration: none;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    transition: color 0.3s ease;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #4B2E00;
}

nav {
    padding: 0 50px;
}

.banner {
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center top;
    background-color: #f1efeb;
}

footer {
    background-color: #4B2E00;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    position: relative;
}

.hero {
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('og1.jpeg');
    background-size: contain;
    background-position: center 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text {
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 10px;
}

.map-section {
    text-align: center;
}

.map-img {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

td {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

.contact {
    text-align: center;
}